<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guest.snake">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClassicSnake"
            android:label="@string/title_activity_classic_snake"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NoWallsSnake"
            android:label="@string/title_activity_no_walls_snake"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BombSnake"
            android:label="@string/title_activity_bomb_snake"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClassicScore"
            android:label="@string/title_activity_classic_score"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NoWallsScore"
            android:label="@string/title_activity_no_walls_score"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BombScore"
            android:label="@string/title_activity_bomb_score"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>